<div class="mb-12 grid gap-y-10 gap-x-6 md:grid-cols-2 xl:grid-cols-4">
  <div *ngIf="userRole==='Administrador'"
  class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md">
    <div class="bg-clip-border mx-4 rounded-xl overflow-hidden bg-gradient-to-tr from-pink-600 to-pink-400 text-white shadow-pink-500/40 shadow-lg absolute -mt-4 grid h-16 w-16 place-items-center">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="w-6 h-6 text-white">
        <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM3.751 20.105a8.25 8.25 0 0116.498 0 .75.75 0 01-.437.695A18.683 18.683 0 0112 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 01-.437-.695z" clip-rule="evenodd"></path>
      </svg>
    </div>
    <div class="p-4 text-right">
      <p class="block antialiased font-sans text-sm leading-normal font-normal text-blue-gray-600">Total de turnos atendidos</p>
      <h4 class="block antialiased tracking-normal font-sans text-2xl font-semibold leading-snug text-blue-gray-900">{{ totalTurnsAdmin }}</h4>
    </div>
    <div class="border-t border-blue-gray-50 p-4"></div>
  </div>
  <div *ngIf="userRole === 'Gestor'"
   class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md">
    <div class="bg-clip-border mx-4 rounded-xl overflow-hidden bg-gradient-to-tr from-yellow-500 to-yellow-300 text-white shadow-yellow-600/40 shadow-lg absolute -mt-4 grid h-16 w-16 place-items-center">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="w-6 h-6 text-white">
        <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM3.751 20.105a8.25 8.25 0 0116.498 0 .75.75 0 01-.437.695A18.683 18.683 0 0112 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 01-.437-.695z" clip-rule="evenodd"></path>
      </svg>
    </div>
    <div class="p-4 text-right">
      <p class="block antialiased font-sans text-sm leading-normal font-normal text-blue-gray-600">Total de turnos atendidos</p>
      <h4 class="block antialiased tracking-normal font-sans text-2xl font-semibold leading-snug text-blue-gray-900">{{totalTurnsGestor}}</h4>
    </div>
    <div class="border-t border-blue-gray-50 p-4"></div>
  </div>
</div>

<div style="margin-top: 20px;" class="card-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Perfil de Usuario</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-spinner *ngIf="isLoadingProfile"></mat-spinner>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef> Username </th>
          <td mat-cell *matCellDef="let element"> {{ element.username }} </td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{ element.email }} </td>
        </ng-container>
        <ng-container matColumnDef="rolname">
          <th mat-header-cell *matHeaderCellDef> Role Name </th>
          <td mat-cell *matCellDef="let element"> {{ element.rolname }} </td>
        </ng-container>
        <ng-container matColumnDef="userstatus_description">
          <th mat-header-cell *matHeaderCellDef> User Status </th>
          <td mat-cell *matCellDef="let element"> {{ element.userstatus_description }} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="userRole === 'Gestor'"
style="margin-top: 20px;" class="card-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Usuarios por aprobar</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-spinner *ngIf="isLoadingUsers"></mat-spinner>
      <table mat-table [dataSource]="dataSourceUsers" class="mat-elevation-z8">
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef> Username </th>
          <td mat-cell *matCellDef="let element"> {{ element.username }} </td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{ element.email }} </td>
        </ng-container>
        <ng-container matColumnDef="creationdate">
          <th mat-header-cell *matHeaderCellDef> Fecha de Creación </th>
          <td mat-cell *matCellDef="let element"> {{ element.creationdate }} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsUsers"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsUsers;"></tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
